:root{
	--primary-color:red;
	--secondary-color:blue;
}


h1{
	color: var(--primary-color);
}

p{
	color: var(--secondary-color);
}
h2{
	color: var(--primary-color);
}
h3{
	color: var(--secondary-color);
}